.information {
  padding: 0;
  margin: 0 0 20px;

  border: none;

  @media (min-width: $tablet-width) {
    margin: -10px 0 0;
  }
}

.information__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.information__list {
  max-width: 200px;
  margin: 0 auto;

  @media (min-width: 500px) {
    max-width: 80%;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    display: block;
  }
}

.information__title {
  margin-bottom: 12px;

  color: $grey-text;
}

.information__description {
  font-size: 40px;
  line-height: 40px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 32px 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 32px 0;

    font-size: 50px;
    line-height: 50px;
  }
}
