.settings {
  padding: 0;
  margin: 0;
}

.settings__wrapper {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }
}

.settings__title {
  display: inline-block;
  padding: 0;
  margin: 0 0 15px;

  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 15px;

    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;

    font-size: 22px;
    line-height: 22px;
  }
}

.settings__container {
  margin: 0 auto;

  @media (min-width: 390px) {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: 4px;
    margin-right: 0;
  }
}

.settings__label {
  padding: 5px;

  font-size: 12px;
  border-radius: 6px 0 0 6px;
  border: 3px solid $grey;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 10px 15px 11px;

    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.settings__label:first-of-type {
  border-right: 3px solid $green;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}

.settings__label:nth-of-type(2) {
  margin-left: -5px;
  border-radius: 0 6px 6px 0;
  border-left: 1px solid $green;

  @media (min-width: $tablet-width) {
    padding-left: 16px;
  }
}


.settings__input:checked + .settings__label {
  border-color: $green;
}

.settings__input:hover + .settings__label {
  border-color: darken($grey, 5%);
}

.settings__input:checked:hover + .settings__label {
  border-color: darken($green, 5%);
}
