//fonts

$primary-font: "Rubik", sans-serif;


// colors

$white: #ffffff;
$black: #000000;
$grey: #cdcfd4;
$grey-input: #ced0d4;
$grey-text: #adafb1;
$black-modal: rgba(0, 0, 0, 0.5);
$green: #67ac5b;


// display

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
