//fonts

$primary-font: "Arial", sans-serif;


// colors

$white: #ffffff;
$black: #000000;
$grey: #cdcfd4;
$grey-2: #ced0d4;
$green: #67ac5b;


// display

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
